<section id="mini-profiles">          
  <div class="container-fluid mh-210 bg-white m-0">
    <div class="row">
      <div class="profile-view">
        <div class="col-md-4 text-center">
          <div class="profile-pic text-center">
            <%= image_tag("Aviary.png", :class => "img-circle img-responsive") %>
            <i class="fa fa-check"></i><strong> <%= provider.category.name %></strong>
            <h3 class="m-0 p-0"> 4<i class="fa fa-star"></i> <%= provider.avg_rating %> </h3><p>Rating Positivo</p></span>
           </div>
        </div >
        <div class="col-md-8 mt-35">
          <div class="info">
            <h5 class="text-center">Hola, soy <%= provider.name %>.</h5>
            <p class="mb-21">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           <ul class="list-unstyled">
            <li><span><i class="fa-map-marker mb-14"></i>&nbsp;Distritos donde puede trabajar:&nbsp;</span><%= provider.locations.map(&:name).join(", ") %></li>
            <li><span><i class="fa-phone"></i>&nbsp;Teléfono:&nbsp;</span> <%= provider.phone %></li>
           </ul> 
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>