<div class="container">
  <div class="row pt-70">
    <%= search_form_for @search do |f| %>
      <%= f.label :locations_id_eq, "Location" %>
      <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name, include_blank: "Todos" %>
      <%= f.label :category_id_eq, "Categoría" %>
      <%= f.collection_select :category_id_eq, Category.order(:name), :id, :name, include_blank: "Todos" %>
     
      <%= f.submit "Filtrar proveedores" %>
    <% end %>
  </div>

  <h5>Listing providers</h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name 1</th>
      <th>Last name 2</th>
      <th>Dni</th>
      <th>Email</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.last_name_1 %></td>
        <td><%= provider.last_name_2 %></td>
        <td><%= provider.dni %></td>
        <td><%= provider.email %></td>
        <td><%= provider.category %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>