<div class="container">
  <div class="row pt-70">
    <%= search_form_for @search do |f| %>
      <%= f.label :locations_id_eq, "Location" %>
      <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name, include_blank: "Todos" %>
      <%= f.label :category_id_eq, "Categoría" %>
      <%= f.collection_select :category_id_eq, Category.order(:name), :id, :name, include_blank: "Todos" %>
     
      <%= f.submit "Filtrar proveedores" %>
    <% end %>
  </div>  <!-- row -->

<% @providers.each do |provider| %>


  <div class="row list-profiles">   
    <div class="col-md-12 p-0">
      <div class="col-md-3 pt-14 pb-14">
        <%= image_tag("profile.png", :class => "img-circle" ) %>
      </div>
      <div class="col-md-4 pt-21 pb-21">
        <h5><%= provider.name %> <%= provider.last_name_1 %> <%= provider.last_name_2 %></h5>
        <span><p><i class="fa fa-check"></i> <%= provider.category.name %><p></span>
        <span><p><i class="fa fa-map-marker"></i> <%= provider.prov_locations %></p></span>
        <span><p>Calificación promedio: <i class="fa fa-star"></i> <%= provider.avg_rating %></p></span>
      </div>
      <div class="col-md-5 text-center mt-56 p-0">
        <%= link_to "Contrátame S/.#{provider.price}/hr", provider, remote: true, :class => "btn btn-primary" %>
      </div> 
    </div>
  </div>
    <% end %>
</div>

<%= render "layouts/modal" %>