<section id="home-title" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-49 text-center">
        <h3 class="text-muted">Nunca ha sido tan fácil<br><strong>cuidar de tu hogar.</strong></h3>
        <p class="text-muted">Selecciona un servicio para comenzar</p>
      </div>
    </div>
  </div>
</section>
<section id="home-filters"> 
  <div class="container p-35">
    <div class="row">
      <ul class="list-unstyled">
        <li>
          <a href="#">
            <%= image_tag("wiping.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Limpieza</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <%= image_tag("flowers.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Jardinería</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <%= image_tag("dog_white.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Mascotas</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <%= image_tag("car_b.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Automotriz</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="list-unstyled">
        <li>
          <a href="#">
            <%= image_tag("pipe.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Gasfitería</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag("screwdriver.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Instalaciones</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag("power.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Electricidad</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>