<div class="container mt-70 content mh-630">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-primary">
          <div class="panel-heading">Regístrate en Servihogar</div>
          <div class="panel-body">
          <%= form_for(@provider) do |f| %>
          <% if @provider.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

              <ul>
              <% @provider.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :name, "Nombre:" %><br>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_1, "Apellido materno:" %><br>
                <%= f.text_field :last_name_1, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_2, "Apellido paterno:" %><br>
                <%= f.text_field :last_name_2, class: "form-control" %>
              </div>
            </div>  

            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :email, "Correo electrónico:" %><br>
                <%= f.text_field :email, class: "form-control" %>
              </div>
              <div class="col-md-2">
                <%= f.label :dni, "DNI:" %><br>
                <%= f.text_field :dni, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <label>¿A qué categoría perteneces?</label>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { :class=> "form-control" }) %>
              </div>
          </div>
 
            <label>¿En qué distritos puedes trabajar?</label> <br>
            <%= hidden_field_tag "provider[location_ids][]", nil %>
            <% Location.all.each do |location| %>
              <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location) %>
              <%= label_tag dom_id(location), location.name %><br>
            <% end %>

            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :password, "Contraseña:" %><br />
                <%= f.password_field :password, class: "form-control"%>
              </div>
              <div class="col-md-6">
                <%= f.label :password_confirmation, "Confirmación de contraseña:" %><br />
                <%= f.password_field :password_confirmation, class: "form-control"%>
              </div>
            </div>

          <div class="col-md-6">
             <%= f.submit "Regístrate", id: "submit", class: "btn btn-primary form-control" %>
          </div>
        <% end %>
          </div> <!-- panel-body -->
      </div> <!-- panel-default -->
    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div>
